/* General Style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px; 
    margin: 0 auto; 
    float: none; 
}

/* Responsive */
@media only screen and (max-width: 900px) {
    .container {
      margin-left: 25px;
      margin-right: 25px;
    }
}

/* Nav */
#nav {
    max-width: 1400px; 
    margin: 0 auto;
    margin-top: 15px; 
}

/* Responsive */
@media only screen and (max-width: 1000px) {
    #nav {
      margin-left: 25px;
      margin-right: 25px;
    }
}


/* Form */
#userlogin {
    background: #0C5E4F;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    padding-bottom: 40px;
}

#login input{
    background: rgba(217, 217, 217, 0.53);
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}

#login input:focus {
    outline: none;
}

#login input:valid{
    background: rgba(217, 217, 217, 0.53);
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

#login input::placeholder{
    padding-left: 10px;
    color: white; 
}

#login input[type=submit]{
    background: #2D4365;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 50px;
    color:white;
}

#login input[type=submit]:hover{
    background: #2D4365;
    border-radius: 10px;
    border: none;
    color:white;
    cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    #userlogin {
      padding: 10px;
      width: 350px;
    }

    #login input{
        width: 200px;
    }

    #login input[type=submit]{
        width: 200px;
    }
}

/* Main */
/* Nav */
#responsivenav {
    padding-top: 20px;
    overflow: hidden;
}

#responsivenav a {
    float: right;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 22px;
}

/* Responsive */
@media only screen and (max-width: 950px) {
    #responsivenav a {
        display: none;
    }
}

/* Number Tracking */

#numbertracking {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#numberform input{
    background: white;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 50px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);;
    padding-left: 10px;
    border: 2px solid #000000;
}

#numberform select{
    background: white;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 55px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);;
    padding-left: 10px;
    border: 2px solid #000000;
}

#numberform input:focus {
    outline: none;
}

#numberform input:valid{
    background: white;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 18px;
}

#numberform input::placeholder{
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.75);; 
}

#numberform input[type=submit]{
    background: #2D4365;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 55px;
    color:white;
}

#numberform input[type=submit]:hover{
    background: #2D4365;
    border-radius: 10px;
    border: none;
    color:white;
    cursor: pointer;
}

#date {
    margin-right: 10px
}

#time {
    margin-right: 10px
}

#lake {
    margin-right: 10px
}

#beach {
    margin-right: 10px
}

/* Responsive */
@media only screen and (max-width: 950px) {
    #numbertracking {
        margin-top: 20px;
    }

    #date {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #time {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #pool {
        margin-bottom: -5px;
    }

    #lake {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #beach  {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* Registration */
#registration {
    background: #2D4365;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.box {
    display: inline-block;
    width: 200px;
    height: 130px;
    background-color: #7D9575;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.box:hover {
    transform: scale(1.05);
}

/* Responsive */
@media only screen and (max-width: 950px) {
    .box {
        margin-top: 20px; 
    }
}

/* Policies */
.column {
    float: left;
    width: 48%;
    padding: 0 10px;
    text-align: center;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#column-policies {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.imgGroup {
    display: flex;
    align-items: center;
    padding-left: 15%;
}

  /* Responsive */
@media only screen and (max-width: 950px) {
    .column {
        width: 100%;
    }

    /* Remove IMG on mobile */
    #column-img {
        display: none;
    }
}

/* Leadership */
#leadership {
    background: #2D4365;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 40px;
}

/* Updates */

#updates {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    padding-left: 40px;
}

.alert {
    background: #FFE7DC;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 30px */

    letter-spacing: 0.015em;

    color: #000000;
}

.warning {
    background: #FDF8EB;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 30px */

    letter-spacing: 0.015em;

    color: #000000;
}

  /* Responsive */
  @media only screen and (max-width: 950px) {
    .alert {
        width: 350px;
    }
    .warning {
        width: 350px;
    }
}

/* Roster Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#rosterlist {
    width: 100%; 
    height: 600px;
}
 